<ion-header class="ion-no-border">
    <ion-toolbar class="transparent">
        <ion-buttons>
            <ion-back-button defaultHref="/auth/register-selection"
                             class="back-button"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="page-content">
        <div class="upper">
            <app-heading-logo [heading]="'Your Detail'"
                              [logo]="'/assets/images/BizProp FINAL-IconNoShadow.png'"></app-heading-logo>

            <ion-grid>
                <ion-row>
                    <ion-col>
                        <app-text-input [form]="form"
                                        [name]="'name'"
                                        [label]="'Client Name'"></app-text-input>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <app-text-input [form]="form"
                                        [name]="'email'"
                                        [type]="'email'"
                                        [label]="'Email Address'"></app-text-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <app-text-input [form]="form"
                                        [name]="'contact1'"
                                        [label]="'Contact Number'"></app-text-input>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <app-text-input [form]="form"
                                        [name]="'contact2'"
                                        [label]="'Additional Contact Number'"></app-text-input>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <app-password [form]="form"
                                        [name]="'password'"
                                        [label]="'Enter Password'"
                                        [icon]="'fas fa-eye'"
                                        [iconClass]="'light-grey'"></app-password>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <app-password [form]="form"
                                        [name]="'confirmPassword'"
                                        [label]="'Confirm Password'"></app-password>
                    </ion-col>
                </ion-row>

                <ion-row class="mt-3">
                    <ion-col>
                        <button class="biz-button btn-block"
                                (click)="register()">Sign Up</button>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </div>

        <div class="lower">
            <app-terms-of-service></app-terms-of-service>
        </div>
    </div>
</ion-content>