.map {
    margin-bottom: -30px;

    &-ripple-parent {
        margin-left: -40px;
        width: calc(100% + 78px);
        max-width: calc(100% + 78px);
    }

    &-image {
        position: relative;
        overflow: hidden;
        
        img {
            object-fit: cover;
            width: 100%;
        }

        margin-left: -40px;
        width: calc(100% + 78px);
        max-width: calc(100% + 78px);
        max-height: 25vh;
    }

    .selector {
        position: relative;
        bottom: 35px;
        height: 82px;

        border-radius: 5px;
        box-shadow: 0 8px 15px 0 #e7eaf0;
        background-color: #ffffff;

        padding: 16px;
        padding-top: 11px;
    }
}
