<div class="input-container"
     [formGroup]="form"
     #contentElement>
    <input class="biz-input"
           autocomplete="none"
           [class.contains-text]="containsText"
           [class.input-validation-error]="hasError"
           [formControlName]="name"
           [id]="id"
           [readOnly]="readonly"
           [type]="inputType">
    <label [for]="id"
           class="biz-input-label">{{label}}</label>
    <div *ngIf="hasError"
         class="field-validation-error">
        {{firstError}}
    </div>
    <div *ngIf="icon"
         (click)="onIconClick($event)"
         [ngClass]="iconClasses">
        <i [class]="icon"></i>
    </div>
</div>