<ion-menu contentId="main"
          menuId="client-menu"
          [disabled]="!enabled">
    <ion-header>
        <ion-toolbar>
            <ion-title>
                <span class="heading-logo primary">BIZ</span>
                <span class="heading-logo secondary"> PROP</span>
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <div class="page-content px-0">
            <div class="upper">
                <ion-list lines="none"
                          class="py-0">
                    <ion-menu-toggle>
                        <ion-item button
                                  (click)="navigate('/client/home');">
                            <ion-icon slot="start"
                                      name="home-outline"></ion-icon>
                            <ion-label>Home</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <ion-menu-toggle>
                        <ion-item button
                                  (click)="navigate('/client/search');">
                            <ion-icon slot="start"
                                      name="search-outline"></ion-icon>
                            <ion-label>Search</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <ion-menu-toggle>
                        <ion-item button
                                  (click)="navigate('/client/rentals');">
                            <ion-icon slot="start"
                                      name="file-tray-full-outline"></ion-icon>
                            <ion-label>My Rentals</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <ion-menu-toggle>
                        <ion-item button
                                  (click)="navigate('/client/inquiries');">
                            <ion-icon slot="start"
                                      name="file-tray-full-outline"></ion-icon>
                            <ion-label>My Inquiries</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <ion-menu-toggle>
                        <ion-item button
                                  (click)="navigate('/client/notifications');">
                            <ion-icon slot="start"
                                      name="chatbubble-outline"></ion-icon>
                            <ion-label>Notifications</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                </ion-list>
            </div>
            <div class="lower">
                <ion-list lines="none"
                          class="py-0">

                    <ion-menu-toggle>
                        <ion-item button
                                  (click)="navigate('/client/settings');">
                            <ion-icon slot="start"
                                      name="build-outline"></ion-icon>
                            <ion-label>Settings</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <ion-menu-toggle>
                        <ion-item button
                                  (click)="navigate('/client/profile')">
                            <ion-icon slot="start"
                                      name="person-outline"></ion-icon>
                            <ion-label>Profile</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <ion-menu-toggle>
                        <ion-item button
                                  (click)="logout()">
                            <ion-icon slot="start"
                                      name="log-out-outline"></ion-icon>
                            <ion-label>Logout</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </div>
        </div>

    </ion-content>
</ion-menu>